@import 'tailwindcss';

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100 h-screen w-screen overflow-hidden;
  }

  #root {
    @apply h-full w-full;
  }
}

html.dark body {
  background-color: #0f172a;
  /* slate-900 */
  color: #f1f5f9;
  /* slate-100 */
}
